.crud-table {
    /* min-height: 500px; */
    background-color: rgb(240, 240, 240);
    width: 100%;
}

.crud-table tr {
    width: 100%;
    font-size: 12px;
}

.crud-table td,
.crud-table th {
    padding: 0 .625rem 0 !important;
    font-size: 12px;
    max-width: 150px;
}

.crud-table thead tr {}

.crud-table td:first-child {
    width: 34px;
    height: 34px;
}