.modal {
    background: rgba(0, 0, 0, 0.9);
}

@media (max-width: 575px) {
    .modal-dialog {
        max-width: 100% !important;
        width: 80% !important;
        top: 30% !important;
        left: 5% !important;
    }
}