body {
    padding-top: 55px;
}


/* mobile navbar sidebar under lg breakpoint */

@media (max-width: 992px) {
    .navbar-collapse.collapsing .navbar-nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: -45%;
        transition: all 0.2s ease;
    }
    .navbar-collapse.show .navbar-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        flex-direction: column;
        height: auto;
        width: 60%;
        transition: left 0.35s ease;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        z-index: 10000;
    }
    .navbar-collapse.show .navbar-nav .nav-item {
        padding-left: 8px;
        font-size: 1.6em;
    }
    .navbar-collapse.show .navbar-nav button {
        padding: 10px 8px 0px 0px;
        color: white;
    }
}