.crudview-container {
    min-height: 500px;
}

@media all and (min-width: 680px) {
    .fixed-table {
        max-height: 75vh;
    }
    .overflow-body {
        overflow: hidden !important;
    }
}