.slider-carousel {
	overflow: hidden;
	position: relative;
}

@keyframes slider-carousel {
	0% {
		left: 0;
	}
	10% {
		left: 0;
	}
	11% {
		left: -100%;
	}
	20% {
		left: -100%;
	}
	21% {
		left: -200%;
	}
	30% {
		left: -200%;
	}
	31% {
		left: -300%;
	}
	40% {
		left: -300%;
	}
	41% {
		left: -400%;
	}
	50% {
		left: -400%;
	}
	51% {
		left: -500%;
	}
	60% {
		left: -500%;
	}
	61% {
		left: -600%;
	}
	70% {
		left: -600%;
	}
	71% {
		left: -700%;
	}
	80% {
		left: -700%;
	}
	81% {
		left: -800%;
	}
	90% {
		left: -800%;
	}
	91% {
		left: -900%;
	}
	100% {
		left: -900%;
	}
}

.slider-carousel .figure {
	width: 1000%;
	position: relative;
}

.slider-carousel .figure:hover {
	animation: 7s slider-carousel infinite;
}

.slider-carousel .figure:hover {
	/*animation-play-state: paused; enable for pause on hover*/
}

.slider-carousel .figure .img-span {
	width: 10%;
	height: 100%;
	float: left;
	max-height: 140px;
	background-color: #000;
}

.slider-carousel .figure .img-span img, .slider-carousel .figure .img-span span {
	height: 100%;
	display: block !important;
	margin: auto;
	max-width: 100%;
	width: unset;
}

.figure {
	display: block;
	/*margin-top: 1em;
	margin-bottom: 1em;*/
	height: 140px;
}

.carousel-right-bottom {
	position: absolute !important;
	z-index: 3000;
	right: 0px;
	bottom: 0px;
	display: inline-flex;
	color: white;
	text-shadow: 1px 1px black;
}

.row-stamp {
	padding: 2px;
	margin: -30px 0px auto 0px;
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

.time-stamp, .quality-stamp {
	font-size: .6em;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 2px;
	padding: 2px;
	margin: 2px;
}

.w-100 {
	width: 100%;
}

.lazy-load-image-background>img {
	width: 100%;
}

@media (max-width: 771px) {
	.card-m>div {
		max-width: 400px;
		margin: 0px auto;
	}
	.slider-carousel, .figure {
		height: 220px;
		width: 394px;
		margin: 0px auto;
	}
	.slider-carousel .figure .img-span {
		width: 10%;
		height: 100%;
		float: left;
		max-height: 300px;
	}
}

@media (min-width: 768px) {
	.figure {
		height: 100px;
	}
	.card-m {
		min-width: 187px !important;
		max-width: 200px !important;
	}
	.figure {
		height: 120px;
	}
	.quality-stamp {}
}

@media (min-width: 992px) {
	.card-m {
		min-width: 220px !important;
		max-width: 220px !important;
	}
	.figure {
		height: 130px;
	}
}

@media (min-width: 1200px) {
	.card-m {
		min-width: 220px !important;
		max-width: 220px !important;
	}
	.figure {
		height: 150px;
	}
	.row-stamp {
		margin: -37px 0px auto 0px;
	}
}