.filter-checkbox-group {
    list-style-type: none;
}

.pagination li {
    display: flex;
    flex-direction: row;
    margin-left: 1px;
    margin-right: 1px;
}

.pagination>.active>a {
    border-color: rgb(4, 0, 255) !important;
    background-color: rgb(4, 0, 255) !important;
    color: white !important;
}