.nextbar {
    display: none;
    top: 0 !important;
    right: 0 !important;
    position: absolute !important;
    height: calc(100% - 3em) !important;
    width: 35px !important;
    background-color: rgba(43, 51, 63, 0.7);
    z-index: 100;
}

.nextbar a {
    width: 35px !important;
}

.video-react-user-inactive .nextbar {
    visibility: visible;
    opacity: 0;
    -webkit-transition: visibility 1s, opacity 1s;
    -moz-transition: visibility 1s, opacity 1s;
    -o-transition: visibility 1s, opacity 1s;
    transition: visibility 1s, opacity 1s;
}

.video-react-has-started.video-react-user-active .nextbar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    visibility: visible;
    opacity: 1;
    -webkit-transition: visibility 0.1s, opacity 0.1s;
    -moz-transition: visibility 0.1s, opacity 0.1s;
    -o-transition: visibility 0.1s, opacity 0.1s;
    transition: visibility 0.1s, opacity 0.1s;
}

.video-react .nextbar {
    display: none;
}